@import '../../global.scss';


.menu{
    width:300px;
    height:100vh;
    background-color:$mainColor;
    position:fixed;
    top:0;
    right:-300px;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items: center;
    transition: all 1s ease;


    &.active{
        right:0;
    }
    ul{
        margin:0;
        padding:0;
        list-style: none;
        color:#fff;
        width:60%;
        font-weight:300;
        flex-direction: column;
        align-items: center;

        li{
            margin-bottom:25px;
            font-size:25px;
            a{
                color:inherit;
                text-decoration: none;
                font-size:inherit;
                
            }
            &:hover{
              
                font-weight:500;
            }
           
        }
    }
}