.works{
    background-color:crimson;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;

    .slider{
        height:350px;
        display:flex;
        position: absolute;
        left:0;

        .container{
            width:100vw;
            display:flex;
            justify-content: center;
            align-items: center;


            .item{
                width:700px;
                height:100%;
                background-color: #ffff;
                border-radius: 20px;
                display:flex;
                align-items:center;
                justify-content:center;


                .left{
                    flex:4;
                    height:100%;
                 
                }
                .right{
                    flex:6;
                    height:100%;
                    background-color:yellow;
                }
            }
        }
    }
}